header {
  text-align: center;
  font-weight: 300;
  font-size: 68px;
  color: #5a6a77;
  padding: var(--general-padding);
}

.take-up-width {
  width: 100%;
}

.basic-col-flex {
  display: flex;
  flex-flow: column nowrap;
}

.basic-row-flex {
  display: flex;
  flex-flow: row wrap;
}

.group-col-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.form-layout {
  display: grid;
  width: 100%;
  padding: 10px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.error {
  list-style: none;
  color: #f00;
  font-size: 16px;
  padding: 10px 0;
}
